.appLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-background);
}

:global(.ant-layout), 
:global(.ant-layout-has-sider) {
    flex-direction: column !important;
}

:global(.ant-layout-has-sider) .content {
  margin-left: 240px;
}

.bodyWrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  min-height: 0;
  overflow-x: hidden;
}
.content {
  flex: 1 1 0;
  padding: 32px;
  background: var(--color-background);
  min-height: 0;
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .bodyWrapper {
    flex-direction: column;
    align-items: stretch;
  }
  .content {
    padding: 16px;
  }
  :global(.footer) {
    width: 100%;
    align-self: stretch;
  }

  :global(.ant-layout-has-sider) .content {
    margin-left: 0;
    }
}
