.search {
  display: flex;
  height: 48px;
  border-radius: 100px;
  flex: 1;
  transition: all 0.2s;
}

.search:focus-within, .search:hover {
  box-shadow: 0 0 0 2px rgba(196, 190, 169, 0.5);
}

.searchInput {
  background-color: var(--color-background);
  border: 1px solid var(--color-primary) !important;
  border-radius: 100px 0 0 100px !important;
  padding: 12px 24px;
  font-family: var(--Urbanist);
  color: var(--color-message-text);
}

.searchInput::placeholder {
  color: var(--color-primary);
}

.searchInput:hover, .searchInput:focus {
  border-color: var(--color-primary-hover);
  box-shadow: none !important;
  background-color: var(--color-background) !important;
}

.searchSubmit {
  border-radius: 0 100px 100px 0 !important;
  height: 100%;
  padding: 10px 24px;
  border: 0px;
  background-color: var(--color-primary) !important;
}

.searchSubmit:hover {
  background-color: var(--color-primary) !important;
  transform: none !important;
}

.searchIcon > * {
  font-size: 24px;
  color: var(--color-background);
}