.search {
  display: flex;
  height: 48px;
  flex: 1;
}

.searchInput {
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  border-radius: 100px 0 0 100px !important;
  padding: 12px 24px;
  font-family: var(--Urbanist);
  color: var(--color-message-text);
}

.searchInput::placeholder {
  color: var(--color-primary);
}

.searchInput:hover, .searchInput:focus {
  border-color: var(--color-primary-hover);
}

.searchSubmit {
  border-radius: 0 100px 100px 0 !important;
  height:100%;
  padding: 10px 24px;
  border: 0px;
  background-color: var(--color-primary);
}

.searchSubmit:hover {
  background-color: var(--color-primary) !important;
}

.searchIcon > * {
  font-size: 24px;
  color: var(--color-background);
}