.grid {
  margin: 0;
}

.gridItem {
  display: flex;
  width: 300px;
}

.gridItem > * {
  flex: 1;
}

.emptyState {
  text-align: center;
  padding: 60px 24px;
}

.emptyDescription {
  margin-top: 16px;
  font-size: 14px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  padding-top: 24px;
}