.listingsPage {
	min-height: 100vh;
	background-color: var(--color-background);
}

.listingsPage * {
	font-family: var(--Urbanist);
}

.listingsHeader {
	display: flex;
	flex-direction: column;
	gap: 36px;
	padding: 12px 0;
}

.searchBar {
	display: flex;
	flex-direction: row;
	gap: 48px;
}

.filterBar {
	display: flex;
	justify-content: space-between;
}

.listingsGridWrapper {
	margin-top: 32px;
}

.createListing {
	padding: 18px 24px;
	height: 48px;
}

@media (max-width: 768px) {
	.listingsPage {
		padding: 50px 20px !important;
	}

	.listingsGridWrapper {
		margin-top: 0;
	}

	.createListing {
		display: none;
	}
}

@media (min-width: 769px) {
	.hideOnDesktop {
		display: none;
	}

	.mobile-create-overlay {
		display: none !important;
	}
}
