@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* Theme Variables */
:root {
	--color-background: #fefdfa;
	--color-background-2: #edeae0;
	--color-primary: #25322c;
	--color-primary-disabled: #929895;
	--color-secondary: #3f8176;
	--color-secondary-disabled: #9fc0ba;
	--color-tertiary: #53370a;
	--color-tertiary-disabled: #9f8f80;
	--color-foreground-1: #c4bea9;
	--color-foreground-2: #ded7bf;
	--color-highlight: #ffffff;
	--color-red-error: #cb5251;
	--color-message-text: #333333;
	--color-action-foreground: #3f5f76;
	--color-action-disabled: #608ba9;
	--color-message-transparent: rgba(51, 51, 51, 0.6);
	--color-message-transparent-2: rgba(51, 51, 51, 0.4);
	--Urbanist: "Urbanist", sans-serif;
	--Instrument-Serif: "Instrument Serif", serif;
}

/* Base Styles */
body {
	background-color: var(--color-background);
}

/* Typography */
.title42,
.title36,
.title30 {
	font-family: var(--Instrument-Serif);
	font-weight: 400;
	color: var(--color-message-text);
}
.title42 {
	font-size: 42px;
	line-height: 50px;
}
.title36 {
	font-size: 36px;
	line-height: 42px;
}
.title30 {
	font-size: 30px;
	line-height: 38px;
}

h1,
.logoText {
	font-family: var(--Urbanist);
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: var(--color-primary);
}
h2 {
	font-family: var(--Urbanist);
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	color: var(--color-message-text);
}
h3 {
	font-family: var(--Urbanist);
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: var(--color-message-text);
}
h4 {
	font-family: var(--Urbanist);
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-message-text);
}
h5 {
	font-family: var(--Urbanist);
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: var(--color-message-text);
}
