* {
  font-family: var(--Urbanist);
}

.listingsPage {
  min-height: 100vh;
  background-color: var(--color-background);
  padding: 36px;
}

.listingsHeader {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 12px 0;
}

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.filterBar {
  display: flex;
  justify-content: space-between;
}

.createListing.createListing {
  padding: 18px 24px;
  height: 48px !important;
}