.pagination * {
  color: var(--color-primary) !important;
  background-color: transparent !important;
  font-weight: 600;
  height: 30px !important;
}

.pagination > * {
  margin: 0 !important;
}

.pagination :global(.ant-pagination-item) {
  border: none;
}

.pagination :global(.ant-pagination-item-active) {
  box-shadow: inset 0 0 0 1.5px var(--color-primary);
  border: none;
}