.categoryFilter {
  display: flex;
  align-items: center;
  color: var(--color-tertiary);
  font-family: var(--Urbanist);
}

.categoryFilter > * {
  font-family: var(--Urbanist);
  color: var(--color-tertiary);
}

.categorySelect > * {
  border: none !important;
  background-color: transparent !important;
  color: var(--color-tertiary);
}

.categorySelect:focus-visible {
  border: none !important;
  box-shadow: none !important;
}