.categoryFilter {
  display: flex;
  align-items: center;
  color: #5E5B51;
}

.categorySelect > * {
  border: none !important;
  background-color: transparent !important;
  color: #5E5B51;
}

.categorySelect:focus-visible {
  border: none !important;
  box-shadow: none !important;
}