@import "../../styles/theme.css";

.footer {
	width: 100%;
	position: relative;
	background: var(--color-primary);
	color: var(--color-background);
	padding: 32px 32px 16px 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	font-family: "Urbanist", sans-serif;
	font-size: 16px;
	z-index: 1200;
}

.row {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 4px;
}
.icon {
	font-size: 28px;
	color: var(--color-background);
	transition: color 0.2s;
}
.icon:hover {
	color: var(--color-secondary);
}
.link {
	color: var(--color-background);
	text-decoration: none;
	font-weight: 500;
	transition: color 0.2s;
}
.link:hover {
	color: var(--color-secondary);
}
.divider {
	color: #bbb;
	margin: 0 8px;
}
.copyright {
	font-size: 14px;
	color: var(--color-background);
}
@media (max-width: 600px) {
	.divider {
		margin: 0;
	}
	.footer {
		font-size: 14px;
		padding: 24px 4px 12px 4px;
		z-index: 1000;
	}
	.icon {
		font-size: 22px;
	}
	.row {
		gap: 8px;
		justify-content: center;
		flex-wrap: nowrap;
		text-align: center;
	}
	.link {
		white-space: normal;
		text-align: center;
		word-break: break-word;
	}
}
