@import '../styles/theme.css';

.demoRoot {
  padding: 32px;
  background: var(--color-background);
  color: var(--color-primary);
  border-radius: 12px;
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 0 2px 12px rgba(0,0,0,0.04);
}
.row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
.tags, .labels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 12px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}
.swatch {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--color-foreground-2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

span{
    font-family: var(--Urbanist);
    font-weight: 400;
    font-size: 14px;
}